body {
    background-color: #f0f8ff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 2em;
    border-bottom: 2px solid rgb(141, 171, 222);
    box-shadow: 4px 5px 5px #6b8494;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + img {
    width: 200px;
    height: 150px; 
    object-fit: cover; 
    margin: 5px;
    transition: transform 1s;
    cursor: pointer;
    border-radius: 5px;
}

input[type="radio"]:checked + img {
    transform: scale(1.1);
}

input[type="submit"] {
    display: block;
    margin: 20px auto 0; /* Center the submit button */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #45a049;
}